---
title: #"Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<style type="text/css">
  h3 {font-weight: normal;}
  body { font-size: 16px; }
  ul { font-size: 18px; }
  details { margin-left: 0px; font-size: 16px; }
  h3 + ul { margin-top: -5px; }
  h4 + p { margin-top: -15px; }
  h4 + details { margin-top: -15px; }
  p + details { margin-top: -15px; }
  summary + p { text-align: justify; }
  .bottom-three {margin-bottom: 3cm; }
</style>



<body>
<img align="right" src="/images/IMG_5270.jpg" alt="Photo" style="width: 190px; border-radius: 10px; padding: 8px 8px 8px 8px"/>
I am a Ph.D. candidate at <a href="https://www.tse-fr.eu/">Toulouse School of Economics</a> . My main interests lie in the intersection between Behavioural and Public Economics, in particular, I study the role played by social preferences in the context of taxation, and how competition among prosocial actors may affect the decentralized provision of public goods. Broadly, I am interested in Contract Theory and its applications. You can find my CV <a href="https://munozsobrado.github.io/files/CV_MunozSobrado.pdf">here</a>.
</body>

<h2>Teaching</ h2>

<h3>

<p> <strong> Theory of Incentives</strong> (Master 1) <br> 
<font color="Teal">2021/22, 2020/21 </font><br> 
<details> <summary> <font color="Teal">  
Mathcha file for students <br>  
</font> </summary>
     <p>
The link is  <a href="https://www.mathcha.io/editor/4W95sNVtLpHpB4YxLF0BNyBYsGmy21zuydQQ19">here</a>. <br />
<img src="/images/IT1.jpg" style="width:500px;"/>
</details>
    </p>

<p> <strong>Game Theory</strong> (Master 1) <br> 
<font color="Teal">2021/22, 2020/21 </font><br> 
<details> <summary> <font color="Teal">  
Mathcha file for students <br>  
</font> </summary>
     <p>
The link is  <a href="https://www.mathcha.io/editor/Er9zHoQU4QC40Y2VoCZpYrYLuKGwnwqT2Wg2Q6">here</a>. <br />
<img src="/images/GT1.jpg" style="width:500px;"/>
</details>
    </p>

<p> <strong> Microeconomics</strong> (Undergraduate) <br> 
<font color="Teal">2019/20, 2018/19 </font><br> 
    </p>


<!--{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}-->
