---
layout: archive
title: #"Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<style type="text/css">
  ul { font-size: 18px; }
  details { margin-left: 10px; font-size: 14px; }
  h3 + ul { margin-top: -5px; }
  h4 + p { margin-top: -15px; }
  h4 + details { margin-top: -15px; }
  p + details { margin-top: -15px; }
  summary + p { text-align: justify; }
</style>


<img align="right" src="/images/IMG_5270.jpg" alt="Photo" style="width: 190px; border-radius: 10px; padding: 8px 8px 8px 8px"/>
TEST4 I am a Ph.D. candidate at [Toulouse School of Economics](https://www.tse-fr.eu/). My main interests lie in the intersection between Behavioural and Public Economics, in particular, I study the role played by social preferences in the context of taxation, and how competition among prosocial actors may affect the decentralized provision of public goods. Broadly, I am interested in Contract Theory and its applications. You can find my CV [here](https://munozsobrado.github.io/files/CV_MunozSobrado.pdf).

##Teaching


<ins>Theory of Incentives  </ins> <font color="Teal">  (2021/22,2020/21)  <br>  </font>
<details> <summary> <font color="Teal">  
Mathcha file for students <br>  
</font> </summary>
    <p>
The link is [here](https://www.mathcha.io/editor/4W95sNVtLpHpB4YxLF0BNyBYsGmy21zuydQQ19). <br />
<img src="/images/IT1.jpg" style="width:500px;"/>
    </p>
    </details>

<ins>Game Theory </ins> <font color="Teal">  (2021/22,2020/21)  <br>  </font> 
<details> <summary> <font color="Teal">  
Mathcha file for students <br>  
</font> </summary>
    <p>
The link is [here](https://www.mathcha.io/editor/Er9zHoQU4QC40Y2VoCZpYrYLuKGwnwqT2Wg2Q6). <br />
<img src="/images/GT1.jpg" style="width:500px;"/>
    </p>
    </details>


<ins> Microeconomics </ins> <font color="Teal">  (2018/19,2019/20)  <br>  </font> 

###other

####other2


<!--{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}-->
