---
title: #"Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

<style type="text/css">
  h3 {font-weight: normal;}
  body { font-size: 16px; }
  ul { font-size: 18px; }
  details { margin-left: 0px; font-size: 16px; }
  h3 + ul { margin-top: -0px; }
  h4 + p { margin-top: -15px; }
  h4 + details { margin-top: -15px; }
  p + details { margin-top: -15px; }
  summary + p { text-align: justify; }
  .bottom-three {margin-bottom: 3cm; }
</style>



<body>
<img align="right" src="/images/IMG_5270.webp" alt="Photo" style="width: 205px; border-radius: 10px; padding: 0px 8px 8px 8px"/>
I am a Ph.D. candidate at <a href="https://www.tse-fr.eu/">Toulouse School of Economics</a>. My main interests lie in the intersection between Behavioural and Public Economics, in particular, I study the role played by social preferences in the context of taxation, and how competition among prosocial actors may affect the decentralized provision of public goods. Broadly, I am interested in Contract Theory and its applications. You can find my CV <a href="https://munozsobrado.github.io/files/CV_MunozSobrado.pdf">here</a>.
</body>

<h2>Teaching</ h2>

<h3>



<p> <strong> Theory of Incentives</strong> (Master 1) <br> </p>
<p><a href="https://munozsobrado.github.io/files/TheoryIncentivesEval_MunozSobrado.pdf">[Evaluations] <br> <br></a></p>
<p><details> <summary>  <font color="Teal">
 Material for students (click to expand)</font> <br>  
 </summary>
     <p>
The link to the Mathcha file of the course is <a href="https://www.mathcha.io/editor/4W95sNVtLpHpB4YxLF0BNyBYsGmy21zuydQQ19">here</a>. <br />
<img src="/images/IT1.jpg" style="width:500px;"/>
</details>
    </p>
</p>

<p> <strong>Game Theory</strong> (Master 1) <br> </p>
<p><a href="https://munozsobrado.github.io/files/Evaluations_S1_2021_2022_M1M2DU_65_GameTheory_MunozSobrado.pdf">[Evaluations 21/22, Group 1]</a>
<a href="https://munozsobrado.github.io/files/Evaluations_S1_2021_2022_M1M2DU_GameTheory_MunozSobrado.pdf">[Evaluations 21/22, Group 2]</a>
<a href="https://munozsobrado.github.io/files/Evaluations_S1_2020_2021_M1M2DU_GameTheory_MunozSobrado.pdf">[Evaluations 20/21]</a> <br> <br></p>
<p><details> <summary> <font color="Teal">
 Material for students (click to expand) </font> <br>  
 </summary>
     <p>
The link to the Mathcha file of the course is <a href="https://www.mathcha.io/editor/Er9zHoQU4QC40Y2VoCZpYrYLuKGwnwqT2Wg2Q6">here</a>. <br />
<img src="/images/GT1.jpg" style="width:500px;"/>
</details>
    </p>
</p>

<p> <strong> Microeconomics</strong> (Undergraduate) <br> 
    </p>
<p><a href="https://munozsobrado.github.io/files/2019-20 S1_MicroL3_MunozSobrado.pdf">[Evaluations 19/20]</a>
<a href="https://munozsobrado.github.io/files/2018-19 S1 L3_Micro_MunozSobrado.pdf">[Evaluations 18/19]</a></p>

</h3>


<h2>Supplementary documents</ h2>

<h3>

<p>
You can find my teaching certification <a href="https://munozsobrado.github.io/files/TeachingProof_MunozSobrado.pdf">here</a>.
<br>
</p>
</h3>

<h2>Universidad de Costa Rica</ h2>
<h3>
<p> <strong> Introduction to Economics for non-economists</strong> (Lecturer, undergraduate) <br> </p>
<p><a href="https://munozsobrado.github.io/files/EE-788-2015 Esteban Muñoz Sobrado.pdf">[Evaluations, in spanish] <br> <br></a></p>
</h3>

<h2>Non-random selection of positive feedback from students</ h2>
<h3>
<p> <strong> _"particularly the part 2 is very well-organised. Highly requied for the ones that went to work on 10. TD assistant Munor Sobrab might be the best of the TSE, highly recommend"_<br> </p>
</h3>

<!--{% for post in site.teaching reversed %}
  {% include archive-single.html %}
{% endfor %}-->
